@import "../../../shared/globalStyle/variables.scss";

.home-bg {
    background: #f7fafc;
    min-height: 100vh;
}

.home {
    margin-top: ($height-header + 10px);
    &__banner {
        width: 100%;
        object-fit: cover;
    }
    &__contact-section {
        position: relative;
        width: 100%;
        min-height: 450px;
        overflow: hidden;
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    &__contact-col {
        flex: 1;
        position: relative;
        height: auto;
        z-index: -1;
        background-repeat: no-repeat;
    }

    .section {
        background-color: $white-color;
        padding: 20px 0;
        margin: 15px 0;
        overflow: hidden;

        .react-parallax-content {
            width: 100%;
        }
    }

    &__section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: box-shadow 0.2s;

        &.reverse {
            flex-direction: row-reverse;
            .home__section-media {
                justify-content: flex-start;
            }
            .home__section-text {
                padding-right: 0;
            }
        }

        // @media (max-width: 900px) {
        //     flex-direction: column;
        //     gap: 24px;
        //     padding: 24px 10px;
        // }
    }

    &__section-media {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        p {
            margin: 0;
        }
        img {
            width: 100%;
            max-width: 460px;
            height: auto;
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
            background: #eee;
            object-fit: cover;
        }

        video {
            width: 120%;
            max-width: 550px;
            height: auto;
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
            background: #eee;
            object-fit: cover;
            autoplay: true;
            muted: true;
            playsinline: true;
            loop: true;
            pointer-events: none;
        }
    }

    &__section-content {
        flex: 1;
        min-width: 0;
        padding: 15px 0;
    }

    &__section-title {
        color: $blue-dark;
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 15px 0;
        line-height: 1.2;
        text-transform: uppercase;
    }

    &__section-text {
        color: $text-sub;
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        padding-right: 28px;
    }

    &__banner-parallax {
        width: 100%;
        height: 500px;
        .react-parallax-bgimage {
            object-fit: cover;
            background-size: auto !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }
    }
}
