// Green tones
$primary-green: #a4c831;

//status
$status-active: #28a745;
$status-active-bg: rgba(40, 167, 69, 0.12);
$status-inactive: #dc3545;
$status-inactive-bg: rgba(220, 53, 69, 0.12);

// Blue tones
$blue-light: #6fa3d8;
$blue-medium: #3b7a99;
$blue-dark: #1f4a79;
$blue-deep: #0b3d66;

// Text & Utility
$text-white: #ffffff;
$text-dark: #333;
$text-sub: #686868;
$f5-color: #f5f5f5;

$main-background: #f0f2f1;
$staff-background: #f2f5f7;
$white-color: #fff;
$outline-color: #cacaca;
$c-color: #ccc;
.app {
    margin: 0;
    padding: 0 0 100px 0;
}

$height-header-top: 79px;
$height-header-nav: 45px;
$height-header: $height-header-top + $height-header-nav;
$width-sidebar: 330px;
