// Green tones
$primary-green: #a4c831;

// Blue tones
$blue-light: #6fa3d8;
$blue-medium: #3b7a99;
$blue-dark: #1f4a79;
$blue-deep: #0b3d66;

// Text & Utility
$text-white: #ffffff;
$text-dark: #333;

$main-background: #f0f2f1;
$white-color: #fff;
$outline-color: #cacaca;
.app {
    margin: 0;
    padding: 0;
}
