// Green tones
$primary-green: #a4c831;

// Blue tones
$blue-light: #6fa3d8;
$blue-medium: #3b7a99;
$blue-dark: #1f4a79;
$blue-deep: #0b3d66;

// Text & Utility
$text-white: #ffffff;

.app {
    margin: 0;
    padding: 0;
}
