@import "../../../../shared/globalStyle/variables.scss";
.content-top {
    padding-top: 10px;
    .text-main {
        text-transform: uppercase;
        text-align: center;
        color: $blue-dark;
    }
    .text-highlight {
        color: $blue-medium;
        font-weight: 700;
    }
    .text-sub {
        padding: 0;
    }
}

.content-bot {
    .clinics-dropdown {
        display: flex;
        flex-direction: column;
    }
}

.shift-option.disabled {
    color: #999;
    cursor: not-allowed;
    opacity: 0.6;
}
.shift-option input:disabled {
    cursor: not-allowed;
}
