@import "../../../shared/globalStyle/variables.scss";

.specialties {
    margin-top: $height-header + 10px;
    .text-center {
        background: $white-color;
        position: relative;
        padding: 30px 0 60px 0;
        margin-bottom: 20px;

        .specialties-text {
            font-size: 24px;
            text-align: center;
            text-transform: uppercase;
            color: $blue-medium;
            font-weight: 700;
            margin: 0;
        }
        .specialties-text::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 30px;
            border-bottom: 5px solid $text-sub;
            width: 100px;
            height: 1px;
            left: calc(50% - 50px);
        }
    }

    .specialties-bg {
        width: 100%;
        object-fit: cover;
        // margin-bottom: 30px;
    }

    .specialties-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        // justify-content: space-around; /* Cân chỉnh các item */
    }

    .specialty-item {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        width: 280px; /* Kích thước của mỗi item */
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ cho items */
        transition: transform 0.3s ease; /* Thêm hiệu ứng khi hover */

        // &:hover {
        //     transform: translateY(-10px); /* Đẩy item lên khi hover */
        // }

        .specialty-item_image {
            width: 100%;
            height: auto;
            border-radius: 8px;
            object-fit: cover;
            margin-bottom: 15px;
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 600;
            color: #2c3e50;
            margin-bottom: 10px;
        }

        h4 {
            font-size: 1.2rem;
            font-weight: 500;
            color: #34495e;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            color: #7f8c8d;
            line-height: 1.5;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
            margin-top: 10px;

            li {
                font-size: 1rem;
                color: #7f8c8d;
                margin-bottom: 5px;
            }
        }
    }
}
